<%- include("partials/header.ejs"); -%>


<section class="main">

  <div class="title-container">
    <h1 class="home-text light-text" id="home-title">Welcome to Joe's League App!</h1>
    <h2 class="home-text light-text" id="home-caption">Generate a team name for your clash team and assemble a random composition of champions!</h2>
  </div>

  <div class="home-images-container container-fluid">
    <a href="/teamnamegenerator">
      <img class="clash-team-name-img img-fluid" src="images/clash-team-name.png" alt="clash-team-name.png">
      <h2 class="img-caption light-text">Clash Team Name Generator</h2>
    </a>

    <a href="/teambuilder">
      <img class="clash-team-composition-img img-fluid" src="images/clash-team-comp.jpg" alt="clash-team-comp-jpg">
      <h2 class="img-caption light-text">Random Team Builder</h2>
    </a>

  </div>

</section>


<%- include("partials/footer.ejs"); -%>
