<%- include("partials/header.ejs"); -%>

<section class="main">
  <div class="title-container">
    <h1 class="home-text" id="home-title">Welcome to Joe's League App!</h1>
    <h2 class="home-text light-text" id="home-caption">
      Generate a team name for your clash team and assemble a random composition
      of champions!
    </h2>
  </div>

  <div class="home-images-container container-fluid">
    <a href="/teambuilder">
      <img
        class="clash-team-composition-img img-fluid"
        src="images/clash-team-comp.jpg"
        alt="clash-team-comp-jpg"
      />
      <button class="btn btn-outline-secondary" type="button" name="button">
        <h2 class="img-caption light-text">Random Team Builder</h2>
      </button>
    </a>

    <a href="/itemsgenerator">
      <img
        class="items-generator-img img-fluid"
        src="images/items.jpg"
        alt="items.jpg"
      />
      <button class="btn btn-outline-secondary" type="button" name="button">
        <h2 class="img-caption light-text">Random Items Generator</h2>
      </button>
    </a>
  </div>
</section>

<%- include("partials/footer.ejs"); -%>
