<%- include("partials/header.ejs"); -%>

<section class="main">
  <h1 class="clash-team-name-generator-title light-text bold-text">Clash Team Name Generator</h1>
</section>


<%- include("partials/footer.ejs"); -%>
