body {
  background-color: #2C3639;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand, .nav-link {
  color: #A27B5C;
}

.main {
  text-align: center;
}

#home-title {
  margin-top: 3.5%;
}

.home-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clash-team-name-img, .clash-team-composition-img{
  height: auto;
  width: 500px;
  margin: 5%;
  border-radius: 10%;
}

.img-caption {
  display: inline-block;
}

.champion-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.champion-img {
  width: 300px;
  margin-bottom: 10px;
}

.light-text {
  color: #DCD7C9;
}
