body {
  background-color: #2C3639;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand, .nav-link {
  color: #A27B5C;
}

.champion-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.champion-img {
  width: 200px;
}
